<link
  rel="stylesheet"
  type="text/css"
  href="/components/mainheader/mainheader.css"
/>

<header id="main-header">
  <h1 class="title">
    <span class="blue">Rent</span>
    <span class="red">-</span>
    <span class="yellow">a</span>
    <span class="blue">-</span>
    <span class="red">Camper</span>
  </h1>

  <nav class="main-nav">
    <ul>
      <li><a href="/rent/" class="nav-link">mieten</a></li>
      <li><a href="/rentout/" class="nav-link">vermieten</a></li>
      <li><a href="/aboutus/" class="nav-link">über uns</a></li>
      <li><a href="/account/" class="nav-link">konto</a></li>
    </ul>
  </nav>
</header>
