$custom-light-blue: #4ebbea;
$custom-red: #ea5d42;
$custom-yellow: #fcc218;

$body-bg : #0d1b2a;
$font-family-base: 'Burbank Big Condensed', sans-serif;

$custom-colors: (
  "custom-light-blue": $custom-light-blue,
  "custom-red": $custom-red,
  "custom-yellow": $custom-yellow
);