$custom-light-blue: #4ebbea;
$custom-red: #ea5d42;
$custom-yellow: #fcc218;

$body-bg: #6493d9;
$font-family-base: 'Burbank Big Condensed', sans-serif;

$font-family-cartoonist: 'Cartoonist Hand Bold', cursive;

$custom-colors: (
        "custom-light-blue": $custom-light-blue,
        "custom-red": $custom-red,
        "custom-yellow": $custom-yellow
);