@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.anime-title {
    font-family: 'Kalam', cursive;
    font-size: 5rem;               
    text-align: center;
    line-height: 1.1;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.anime-title span:nth-child(odd) {
    color: #F73B80; 
}

.anime-title span:nth-child(even) {
    color: #F8A51D; 
}

.anime-title span {
    display: inline-block;
}

.anime-title span:nth-child(3n) {
    transform: rotate(3deg);
}

.anime-title span:nth-child(3n+1) {
    transform: rotate(-2deg);
}