<header
  id="main-header"
  class="header shadow-lg d-flex align-items-center justify-content-between py-2 px-5 mb-0"
>
  <h1 class="title d-flex align-items-center gap-2 mb-0">
    <img
      src="../../icon.svg"
      alt="Logo"
      class="header-icon"
      style="width: 54px; height: auto"
    />

    <span class="text-custom-light-blue mt-2">RENT</span>
    <span class="text-custom-red mt-2">-</span>
    <span class="text-custom-yellow mt-1">A</span>
    <span class="text-custom-light-blue mt-2">-</span>
    <span class="text-custom-red mt-2">CAMPER</span>
  </h1>

  <nav class="main-nav">
    <ul class="nav gap-4 gap-lg-5 mt-2">
      <li class="nav-item">
        <a href="/rent/" class="nav-link custom-font text-custom-light-blue p-0">Mieten</a>
      </li>
      <li class="nav-item">
        <a href="/rentout/" class="nav-link custom-font text-custom-red p-0"
          >Vermieten</a
        >
      </li>
      <li class="nav-item">
        <a href="/aboutus/" class="nav-link custom-font text-custom-light-blue p-0"
          >Über uns</a
        >
      </li>
      <li class="nav-item">
        <a href="/account/" class="nav-link custom-font text-custom-red p-0"
          >Konto</a
        >
      </li>
    </ul>
  </nav>
</header>
